@import "../var";

// flex

@mixin flex--full-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-container($gap) {
  display: flex;
  align-items: center;
  gap: $gap;
}

// shadow

@mixin shadow {
  box-shadow: 0 1.5px 4px rgb(0, 0, 0, 24%), 0 1.5px 6px rgb(0, 0, 0, 12%);
}

@mixin shadow-darker {
  box-shadow: 0 1.5px 4px rgb(0, 0, 0, 48%), 0 1.5px 6px rgb(0, 0, 0, 24%);
}

// media queries

@mixin responsive($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}
