// color

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$color: (
  purple: $primary-color,
  pink: $secondary-color,
  green: $tertiary-color,
);

$grey-darker: #e4e4e7;

// backgroud

$grey-background: #f4f4f5;

// spacing

$section-padding: 6.4rem 2.4rem;
