@import "../../utils";

.header {
  width: 100%;

  &__nav {
    width: 100%;
    @include flex--full-center;

    padding: 16px;

    position: relative;

    top: 0;

    &--shadow {
      @include shadow;
    }
  }

  &__img {
    width: 20rem;

    object-fit: cover;
  }
}
