@import "../../../utils";

.card-home {
  @include flex--full-center;
  flex-direction: column;
  gap: 2.4rem;

  padding-left: 2.4rem;

  &__item {
    position: relative;

    @include flex-container(0);

    width: 100%;
    height: 9rem;

    border-radius: 30px;

    padding-left: 3.6rem;

    @include shadow;
    background-color: $grey-background;

    &:hover {
      cursor: pointer;
      background-color: lighten(map-get($color, purple), 35%);
    }

    &:hover .card-home__icon {
      color: map-get($color, purple);
    }
  }

  &__number {
    position: absolute;
    left: -2rem;

    @include flex--full-center;

    background-color: map-get($color, purple);
    color: #fff;

    font-size: 1.8rem;

    width: 3rem;
    height: 3rem;

    border-radius: 50%;
  }

  &__content {
    @include flex-container(2.4rem);

    font-size: 2rem;
    font-weight: 600;
  }

  &__icon {
    font-size: 2.2rem;
    color: #868e96;
  }
}
