@import "../../../utils";

.loading {
  position: fixed;

  top: 0;
  left: 0;
  @include flex--full-center;

  width: 100vw;
  height: 100vh;

  background-color: darken(rgba(0, 0, 0, 0.95), 20%);

  z-index: 99;

  animation: loading 3s linear forwards;

  &__svg {
    width: 50%;
    height: 30%;

    @include responsive(map-get($breakpoints, laptop)) {
      width: 25%;
      height: 10%;
    }
  }

  &__path {
    animation: spinner 3s linear forwards;
  }
}

@keyframes loading {
  0% {
    // opacity: 1;
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    // opacity: 0;

    opacity: 0;
    z-index: -1;
  }
}

@keyframes spinner {
  0% {
    stroke-dasharray: 0;
    fill: none;
  }

  90% {
    stroke-dasharray: 25rem;
    fill-opacity: 17%;
  }

  100% {
    stroke: transparent;
    fill-opacity: 0;
  }
}
