@import "../../utils";

.main {
  width: 100%;

  &__home {
    @include responsive(map-get($breakpoints, laptop)) {
      @include flex--full-center;
      flex-direction: column;
      width: 100%;
      max-width: 144rem;

      border-radius: 2.4rem;
      margin: 2.4rem;

      overflow: hidden;

      @include shadow;
    }
  }

  &__menu {
    position: relative;
    max-width: 140rem;
  }
}
