@import "../var";
@import "../mixin";

// background

.bg-grey {
  background-color: $grey-background;
}

// margin

.mar--b-52 {
  margin-bottom: 5.2rem;

  @include responsive(map-get($breakpoints, laptop)) {
    margin-bottom: 0;
  }
}

.mar--b-96 {
  @include responsive(map-get($breakpoints, laptop)) {
    margin-bottom: 9.6rem;
  }
}
