@import "../../../utils";

.location {
  @include flex--full-center;

  width: 100%;

  padding: 1.6rem 0;

  background-color: $grey-darker;

  &__container {
    @include flex-container(2rem);

    font-size: 2.4rem;
    font-weight: 500;

    margin-right: 1rem;
  }

  &__icon {
    font-size: 3.2rem;
  }
}
